.chat-container {
  background: var(--color-card);
  padding: 40px 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border: 1px solid var(--color-border);
  backdrop-filter: blur(11.4px);
  border-radius: 48px;
  position: relative;
  backdrop-filter: var(--blur-glass);
  -webkit-backdrop-filter: var(--blur-glass); // Safari 🔥

  @media screen and (max-width: 700px) {
    padding: 20px 32px;
  }
}

.message-pair {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.chat-window {
  height: 80%;
  overflow: auto;
}
