.card-container {
  height: 213px;
  width: 270px;
  position: relative;
  color: #bfbdbd;
  font-size: 20px;
  font-weight: 600;
  margin-right: 24px;

  .card-main {
    width: 100%;
    height: 100%;
    background: var(--color-card-small);
    clip-path: url(#card-clip);
    padding: 40px 24px;
  }

  .card-side {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 48px;
    width: 48px;
    background: var(--color-card-small);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 24px;
      width: 24px;
    }
  }
}
