.card {
  position: relative;
  width: 270px;
  height: 213px;
}

.card-svg {
  width: 269px;
  height: 212px;
  display: block;
}

.card-text {
  position: absolute;
  top: 40px;
  left: 24px;
  color: #bfbdbd;
  font-size: 20px;
  font-weight: 600;
}

.card-side {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid var(--color-border);
  background: var(--color-card-small);
  padding: 11px;
  border-radius: 14px;
  img {
    height: 24px;
    width: 24px;
  }
}
