.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 60%;
  gap: 24px;

  div {
    display: flex;
    gap: 24px;
  }

  img {
    height: 90%;
  }
}

