nav {
  background-color: var(--color-card);
  border-radius: 40px;
  padding: 40px 24px;
  backdrop-filter: var(--blur-glass);
  -webkit-backdrop-filter: var(--blur-glass);

  @media screen and (max-width: 1400px) {
    padding: 24px 40px;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    width: 40px;
    justify-content: space-between;
    height: 100%;

    @media screen and (max-width: 1400px) {
      flex-direction: row;
      width: 100%;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1400px) {
      flex-direction: row;
    }
  }

  .icons-container {
    img {
      padding: 8px;
    }
  }

  .logo-container {
    gap: 24px;

    div {
      background: #2f82ef;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
